<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vcName</key>
		<string>JJByValueController</string>
		<key>vcType</key>
		<string>ViewController</string>
		<key>vcTitle</key>
		<string>传值</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>JJChartsController</string>
		<key>vcType</key>
		<string>ViewController</string>
		<key>vcTitle</key>
		<string>基本</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>RadarChartViewController</string>
		<key>vcType</key>
		<string>ViewController</string>
		<key>vcTitle</key>
		<string>雷达条形图</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>JJTestViewController</string>
		<key>vcType</key>
		<string>ViewController</string>
		<key>vcTitle</key>
		<string>test</string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>JJOverlayViewController</string>
		<key>vcType</key>
		<string>ViewController</string>
		<key>vcTitle</key>
		<string>覆盖图</string>
	</dict>
</array>
</plist>
